<!DOCTYPE html>

<html>
	<head>
		<title>
			Some Page!!
		</title>
		<style>
		button > a:link{color:black;}
		button > a:visited {color:black;}
		button > a {text-decoration: none;}
		</style>	
	</head>
	<body>

	<div>
	{% if logged == "logged" %}
	Hello, {{username}}!!
	<button><a href="/_edit/{{wikipath}}">Edit</a></button>
	<button><a href="/logout">Logout</a></button>
	{% else %}
	<button><a href="/login">Login</a></button>
	{% endif %}
	<h1>{{wikipath}}</h1>
	</div>
	{{content}}
	<hr>
	<div>Created: {{created}}</div>
	{% if created != updated %}
	<div>Last updated: {{updated}}</div>
	{% endif %}
	</body>
</html>